# Ignore node_module Modules:
node_modules

# Ignore all files in the node_modules directory
app/node_modules

# Ignore all files in the bower_components directory
app/bower_components

# Ignore Build Output:
dist
build

# Ignore Configuration files:
bentoConfig.ts
utils.ts

# Ignore lock files:
package-lock.json


# Ignore artifacts:
build
coverage
